<ion-header>
  <ion-navbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let produto of produtos" [ngClass]="{'item-inactive': !produto.ativo }">

      <ion-card-header>
        <h1>{{ produto.nome }}</h1>
        <p>{{ produto.categoria }}</p>
      </ion-card-header>

      <ion-card-content>
        {{ produto.descricao }}
        <div margin-top>{{ produto.tamanho }}</div>
        <div>{{ produto.preco | currency:'BRL' }}</div>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="editProduto(produto.id)">
            <ion-icon name="create"></ion-icon>
            <div>Editar</div>
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button icon-left clear small (click)="remover(produto)" color="danger">
            <ion-icon name="trash"></ion-icon>
            <div>Excluir</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addProduto()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-list>
      <ion-item no-lines>
        <ion-label>Listar inativos</ion-label>
        <ion-checkbox color="primary" (ionChange)="buscarProdutos($event)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>
